<div class="container">
    <form name="signUpForm" novalidate >
    
    <div class="form-group">
        <label>First Name:</label>
        <input type="text" class="form-control" name="firstName" ng-model="signUpCtrl.userInfo.firstName" required/>
        <span ng-if="signUpForm.firstName.$invalid && signUpForm.firstName.$touched">
            First Name is required
          </span>
    </div>
    <div class="form-group">
        <label>Last Name:</label>
        <input type="text" class="form-control" name="lastName" ng-model="signUpCtrl.userInfo.lastName" required/>
        <span ng-if="signUpForm.lastName.$invalid && signUpForm.lastName.$touched">
            Last Name is required
          </span>
    </div>
    <div class="form-group">
        <label>Email:</label>
        <input type="email" class="form-control" name="email" ng-model="signUpCtrl.userInfo.email" required/>
        <span ng-if="signUpForm.email.$invalid && signUpForm.email.$touched">
            Must be a valid email address: handle@domain format
          </span>
    </div>
    <div class="form-group">
        <label>Phone:</label>
        <input type="text" class="form-control" name="phone" ng-model="signUpCtrl.userInfo.phone" required pattern="(\d{3})-(\d{3})-(\d{4})"/>
        <span ng-if="signUpForm.phone.$invalid && signUpForm.phone.$touched">
            Phone must be in the format ###-###-####.
          </span>
    </div>
    <div class="form-group">
        <label>Favorite Dish:</label>
        <input type="text" class="form-control" ng-model="signUpCtrl.userInfo.favMenu" ng-blur="signUpCtrl.checkMenu(signUpCtrl.userInfo.favMenu);"/>
        <div ng-show="signUpCtrl.noItemFound"><label>No such menu item found</label></div>
    </div>
    <div class="form-group">       
      <button class="btn btn-primary"  ng-disabled="signUpForm.$invalid"
              ng-click="signUpCtrl.submit(signUpCtrl.userInfo)">Submit</button>
    </div>
	
    </form>
</div>